@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'dejavu sans mono';
    src: url('DejaVuSansMono-webfont.woff') format('woff'),
         url('DejaVuSansMono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu sans mono';
    src: url('DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('DejaVuSansMono-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
}

.noprint {
    font-family: dejavu sans mono;
}

.noprint>p {
    margin: 1em;
}

.container {
    font-family: dejavu sans mono;
    width: 8.5in;
    height: 11in;
    margin: 0;
    border: 1px solid black;
    padding: .25in;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section {
    border: 3pt solid black;
    border-radius: 6pt;
    margin: 3pt;
}

.heading {
    font-family: roboto;
    font-weight: 300;
    font-size: 20pt;
    text-align: center;
    padding: 2pt 0 4pt 0;
}

.line {
    padding-bottom: 3pt;
}

.key {
    font-family: dejavu sans mono;
    border: 1pt solid black;
    border-radius: 2pt;
    margin: 2pt;
    padding: 0 2pt;
    background: black;
    color: white;
    font-weight: bold;
}

.plus {
    font-weight: bold;
}

.function {
    font-family: roboto slab;
}

@media print {
    .container {
        border: none;
    }

    .noprint {
        display: none;
    }
}
